/* 공통 레이아웃 스타일 */
#wrap {
    width: 100%;
    min-width: 1400px;
}
#header,
#visual,
#content,
#footer {
    width: 100%;
}

.inner {
    width: 1400px;
    margin: auto;
    position: relative;
    /* 내가 기준이다 */
    box-sizing: border-box;
}
/* header */
#header {
}
#header .inner {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(204, 153, 87); */
}
#header .inner h1 {
    width: 200px;
    height: 46px;
    margin-right: 270px;
}
#header .nav {
}
#header .nav .gnb {
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 20px;
}
#header .nav .gnb li {
}
#header .nav .gnb li a {
}

/* footer */
#footer {
    height: 600px;
    background-color: #f5ebe1;
}
#footer .inner {
}
#footer .inner h2 {
}
#footer .menus {
    width: 1050px;
    height: 222px;
    /* background-color: aqua; */
}
#footer .menus ul {}

#footer .menus .lititle {}
#footer .menus .lititle a {}
#footer .menus .lititle .lidata {}
#footer .menus .lititle .lidata li {}
#footer .menus .lititle .lidata li a {}
