/* 메인 페이지 스타일 */
#visual {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../images/main/img/visual01.jpg); */
    position: relative;
    display: flex;
    box-sizing: border-box;
}
#visual h2 {
    font-size: 72px;
    font-weight: 700;
    color: white;
    /* background-color: aqua; */
    line-height: 120%;
    position: absolute;
    top: 230px;
    left: 200px;
    text-align: left;

}
#visual h2 + strong {
    display: block;
    font-size: 36px;
    font-weight: 700;
    color: #f5ebe1;
    /* background-color: violet; */
    text-align: left;
    position: absolute;
    top: 412px;
    left: 200px;
}
#visual p {
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .con {
    /* width: 100%; */
}
.main .con .inner {
    padding: 140px 0;
}
.main .con .inner h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
.main .more i {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transform: rotate(45deg);
    font-size: 20px;
}

.main .con1 {
}
.main .con1 .inner {
}
.main .con1 h3 {
}

.con1 .bsnlist {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.con1 .bsn {
    position: relative;
}
.con1 .bsn img {
    width: 500px;
    height: 640px;
    display: block;
    vertical-align: top;
}

.con1 .bsn .bsntxt {
    position: absolute;
    bottom: 50px;
    padding-left: 75px;
    color: white;
}

.con1 .bsntxt .more {
    position: absolute;
    top: -370px;
    right: -75px;
}

.con1 .bsnlist strong {
    font-size: 30px;
    font-weight: 600;
}
.con1 .bsnlist p {
    font-size: 18px;
    font-weight: 400;
    max-width: 300px;
}

.main .news {
    background-color: #f5ebe1;
}
.main .news .newslist {
    /* ul */
    display: flex;
    gap: 100px;
    justify-content: center;
}

.main .news .newslist li {
    width: 600px;
    position: relative;
}

.main .news .newslist img {
    height: 400px;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}
.main .news .newslist strong {
    color: #1e1928;
    font-size: 36px;
    font-weight: 600;
    display: block;
    margin-bottom: 30px;
}
.main .news .newslist p {
    color: #1e1928;
    font-size: 18px;
    font-weight: 400;
    width: 430px;
}
.main .news .newslist .more {
    position: absolute;
    bottom: 10px;
    right: -380px;
    display: block;
}

/* 채용 */

.main .careers {
}
.main .careers h3 {
    font-size: 36px;
    font-weight: 600;
}
.main .careers .careerlist {
    display: flex;
    gap: 35px;
}
.main .careers .careerlist .boss {
    position: relative;
    background-color: aquamarine;
    width: 600px;
    height: 830px;
}
.main .careers .careerlist .boss img {
    width: 600px;
    height: 830px;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
}
.main .careers .careerlist .boss h3 {
    color: white;
    position: absolute;
    bottom: 187px;
    left: 80px;
}
.main .careers .careerlist .boss p {
    color: #f5ebe1;
    width: 400px;
    position: absolute;
    bottom: 80px;
    left: 80px;
    font-size: 24px;
    font-weight: 600;
}
.main .careers .careerlist .boss .more {
    position: absolute;
    top: 60px;
    left: 500px;
}

.main .careers .careerlist .wanted-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main .careers .careerlist .wanted-wrap .wantedlist {
    background-color: #f5ebe1;
    width: 760px;
    height: 400px;
    border-radius: 30px;
    box-sizing: border-box;
    padding-left: 90px;
    padding-top: 50px;
}
.main .careers .careerlist .wanted-wrap .wantedlist h3 {
    margin-bottom: 20px;
}
.main .careers .careerlist .wanted-wrap .wantedlist ul {
    display: flex;
    flex-direction: column;
    width: 580px;
}
.main .careers .careerlist .wanted-wrap .wantedlist li {
    display: block;
    border-bottom: 1px solid #8c8282;
    position: relative;
}

.wanted-wrap .wantedlist strong {
    color: #1e1928;
    font-size: 20px;
    font-weight: 600;
}

.wanted-wrap .wantedlist span {
    color: var(--color-Medium-Gray, #8c8282);
    font-size: 16px;
    font-weight: 400;
}
.wanted-wrap .wantedlist .more {
    position: absolute;
    top: 0;
    right: 10px;
}

.wanted-wrap .job {
    width: 760px;
    height: 400px;
    position: relative;
}
.wanted-wrap .job img {
    position: absolute;
    top: 0;
    right: 0;
}
.wanted-wrap .job h3 {
    position: absolute;
    top: 63px;
    left: 90px;
    color: white;
}
.wanted-wrap .job .more {
    position: absolute;
    top: 63px;
    right: 90px;
}
